/********************
YOUR STYLES
*******************/


/* Header */
header {
  display: flex;
  justify-content: center;
}


/* Gallery Styling */
.gallery {
  display: flex;
  justify-content: center;
  width: 100%;
}

figure {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  width: 20em;
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  body {
       background: #2c3e50;
  }
    
    .gallery {
        flex-direction: column;
    }
    
    figure{
        display: block;
    }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: #2c3e50;
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: #2c3e50;
  }

}