/********************
YOUR STYLES
*******************/


/* Header */
header {
  display: flex;
  justify-content: center;
}

/* Footer */
footer {
  color: dimgray;
}

/* Gallery Styling */
.gallery {
  display: flex;
  justify-content: center;
  width: 100%;
}

figure {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  width: 20em;
}

.lg-backdrop {
    background: rgba(0,0,0,.7);
}

.lg-image {
    box-shadow: 0 0 30px black;
    border-radius: 10px;
}

/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  body {
       background: #031316;
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: #031316;
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: #031316;
  }

}